/java/.metadata/.log
/java/.metadata/.plugins
/java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/java/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/java/.metadata/.plugins/org.eclipse.jdt.core/*.index
/java/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/java/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/java/.metadata/.mylyn/*
/java/.metadata/**/*.snap


/java/katas/bin

*.swp
