/java/.metadata/.log
/java/.metadata/.plugins
/java/.metadata/.recommenders
/java/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/java/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/java/.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/
/java/.metadata/.plugins/org.eclipse.jdt.core/*.index
/java/.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
/java/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/java/.metadata/**/*mylyn*
/java/.metadata/**/*.snap
/java/.metadata/version.ini

/java/RemoteSystemsTempFiles/

/java/katas/bin

*.swp
*.received.txt
