.metadata/.log
.metadata/.plugins
.metadata/.recommenders
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/
.metadata/.plugins/org.eclipse.jdt.core/*.index
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/**/*mylyn*
.metadata/**/*.snap
.metadata/version.ini

RemoteSystemsTempFiles/
katas/bin

*.swp
